<ul class="questions-list">
	<% @questions.each do |question| %>
		<li class="question"><%= link_to question.title, question_path(question) %></li>
	<% end %>
</ul>

<%= button_to "New Question", new_question_path, method: :get %>