/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
 	background-image: url('/assets/wood.png');
 }

 /* Navigation */

.navbar{
	height: 24px;
	width: 1000px;
	padding: 10px;
	background-color: #F3AF75;
	display: table-cell;
	vertical-align: middle;
}

a:link, a:visited{
	text-decoration: none;
	color: #713706;
}
a:hover{
	text-decoration: none;
	color: #117175;
}

.user-actions{
	float: right;
	width: auto;
}

.navigation-actions{
	float: left;
	width: auto;
}

/* Questions */

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.questions-list{
	display: inline-block;
}

.question{
	font-size: 18px;
	padding: 6px;
	margin: 4px;
}