<div class="navbar">

	<span class="navigation-actions">
		<%= link_to root_path do %>
			<i class="icon-beer"> BeerOverflow </i>
		<% end %>
	</span>
	<span class="user-actions">
		<% if current_user.nil? %>
		  <%= link_to controller: "sessions", action: "new" do %>
		  	<i class="icon-signin"> Login </i>
		  <% end %>
		  <%= link_to controller: "users", action: "new" do %>
		  	<i class="icon-user"> Sign Up </i>
		  <% end %>
		<% else %>
		  <%= link_to controller: "sessions", action: "destroy" do %>
		  	<i class="icon-signout"> Logout </i>
		  <% end %>
		<% end %>
	</span>

</div>